<%- include('header'); -%> 

    <center>
        <h3>Heyy guys ..It's Ayush !!Hope you are enjoying this ToDo App </h3>
        <h4>This app was created while i learning EJS templates and layout.</h4>
        <h4>Kee Using </h4>

    </center>

<%- include('footer'); -%> 